<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Hotéis</title>
</head>

<body>
	<h1>Adicionar Evento</h1>

	<form action="/hoteis" method="post">

		<div>
			<label>Nome do Hotel:</label> <input type="text" name="nomeHotel">
		</div>
		<div>
			<label>Cidade do Hotel:</label> <input type="text" name="cidadeHotel">
		</div>
		<div>
			<label>Gerente do Hotel:</label> <input type="text" name="gerenteHotel">
		</div>
		<div>
			<button type="submit">Salvar</button>
			<button type="reset">Limpar</button>
		</div>

	</form>
</body>

</html>